
Components
packages
Resource.designer.cs

bin
obj

*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user
*.pfx
test3/obj/iPhoneSimulator/Debug/test3.exe
test3.userprefs
test3/bin/iPhoneSimulator/Debug/test3.app/Main.storyboardc/260-view-261.nib
test3/bin/iPhoneSimulator/Debug/test3.app/Main.storyboardc/362-view-363.nib
test3/bin/iPhoneSimulator/Debug/test3.app/Main.storyboardc/8rJ-Kc-sve-view-QS5-Rx-YEW.nib
test3/bin/iPhoneSimulator/Debug/test3.app/Main.storyboardc/UITabBarController-49e-Tb-3d3.nib
test3/bin/iPhoneSimulator/Debug/test3.app/test3.exe
test3/bin/iPhoneSimulator/Debug/test3.app/test3.exe.mdb
test3/bin/iPhoneSimulator/Debug/test3.exe
test3/bin/iPhoneSimulator/Debug/test3.exe.mdb
test3/obj/iPhoneSimulator/Debug/ibtool/Main.storyboardc/260-view-261.nib
test3/obj/iPhoneSimulator/Debug/ibtool/Main.storyboardc/362-view-363.nib
test3/obj/iPhoneSimulator/Debug/ibtool/Main.storyboardc/8rJ-Kc-sve-view-QS5-Rx-YEW.nib
test3/obj/iPhoneSimulator/Debug/ibtool/Main.storyboardc/UITabBarController-49e-Tb-3d3.nib
test3/obj/iPhoneSimulator/Debug/mtouch-cache/Build/test3.exe
test3/obj/iPhoneSimulator/Debug/mtouch-cache/Build/test3.exe.mdb
test3/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/test3.exe
test3/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/test3.exe.mdb
test3/obj/iPhoneSimulator/Debug/test3.csproj.FilesWrittenAbsolute.txt
test3/obj/iPhoneSimulator/Debug/test3.exe.mdb

